* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFCACC;
}

.dance {
    position: relative;
    top: 30vh;
    margin: auto;
    width: 500px;
    height: auto;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dance img {
    vertical-align: top;
    width: 100%;
}

.info {
    color: darkslategray;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 15px;
}

.info a {
    text-decoration: underline;
    color: inherit;
}
